{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <img src="{{ product.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-6">
            <p>{{ product.category.title }}</p>
            <p>Owner: {{request.user.first_name}}</p>
            <p>Phone: {{request.user.last_name}}</p>
            <h1>{{ product.title }}</h1>
            <p class="text-success">{{product.price}} UZS</p>
            <p>{{product.description}}</p>
        </div>
    </div>

{% endblock content %}