{% extends 'base.html' %}

{% block content %}
    <h1>Add new Product</h1>

    <form action="{% url 'control_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="category" class="form-control" >
           {% for i in category %}
                <option value="{{i.id}}">{{i.title}}</option>
           {% endfor %}
        </select>
        <input type="text" name="title" class="form-control mt-2" placeholder="Enter title for product">
        <input type="number" name="price" class="form-control mt-2" placeholder="Enter price for product">
        <textarea name="info" rows="5" class="form-control mt-2" placeholder="Enter info"></textarea>
        <input type="file" name="file" class="form-control mt-2">
        <input type="submit" value="Add product" class="btn btn-success mt-2">
    </form>

{% endblock content %}